
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<style>
    #menuAdminDashboard {
        color: white;
        background-color: dodgerblue;
    }
</style>

<h2>AdminDashboard</h2>

