
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<style>
    #menuQuanLyTaiKhoan {
        color: white;
        background-color: dodgerblue;
    }
</style>

@*<h2>Tài khoản người dùng trong hệ thống</h2>*@

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Tài khoản người dùng trong hệ thống</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table id="example" class="table table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>Tài khoản</th>
                        <th>Phân quyền</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>thaisangdang@gmail.com</td>
                        <td>Admin</td>
                        <td>
                            <button type="button" class="btn btn-primary">
                                <span class="text-white"><i class="fas fa-edit fa-fw"></i></span>
                            </button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger">
                                <span class="text-white"><i class="fas fa-trash fa-fw"></i></span>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>nguyenthanhphu@gmail.com</td>
                        <td>Admin</td>
                        <td>
                            <button type="button" class="btn btn-primary">
                                <span class="text-white"><i class="fas fa-edit fa-fw"></i></span>
                            </button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger">
                                <span class="text-white"><i class="fas fa-trash fa-fw"></i></span>
                            </button>
                        </td>
                    </tr>
                </tbody>
                @*<tfoot>
                    <tr>
                        <th>Name</th>
                        <th>Position</th>
                        <th>Office</th>
                        <th>Age</th>
                        <th>Start date</th>
                        <th>Salary</th>
                    </tr>
                </tfoot>*@
            </table>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function() {
            $('#example').DataTable({
                            "columns": [
                            null,
                            null,
                            { "width": "5%" },
                            { "width": "5%" }
                            ]
                        });
            });  
    </script> 
}