<style>
    #menuQuanLyBaoCaoCongViec {
        color: white;
        background-color: dodgerblue;
    }
</style>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>