@{
    ViewBag.Title = "Giới thiệu";
}
<h2>@ViewBag.Title</h2>

<p>
    Website kinh doanh bất động sản <b>Real Estate</b> đóng vai trò là một sàn giao dịch bất động sản, cho phép người dùng tạo tài
    khoản và đăng nhập để đăng tin rao mua bán/cho thuê. <br /> Là nơi tham khảo thông tin doanh nghiệp, nhà đất, các dự án bất động sản
    và tin tức liên quan lĩnh vực bất động sản.
</p>
<p>
    Doanh nghiệp bất động sản trên cả nước có nhu cầu quảng bá sản phẩm và hình ảnh công ty có thể liên hệ đăng thông tin sản phẩm.
    RealEstates mong muốn trở thành đối tác tin cậy và thường xuyên của các chủ đầu tư, sàn giao dịch, nhà môi giới cá nhân ở Việt Nam.
</p>
<p>
    Các dịch vụ chính:
    <ul>
        <li>Đăng thông tin quảng cáo nhà đất;</li>
        <li>Đăng banner quảng cáo;</li>
        <li>Đăng bài PR quảng bá sản phẩm, dịch vụ;</li>
        <li>Danh bạ doanh nghiệp;</li>
        <li>Danh bạ các nhà môi giới nhà đất.</li>
    </ul>
</p>