@{
    ViewBag.Title = "Liên hệ";
}
<h2>@ViewBag.Title.</h2>

<address>
    TP. Hồ Chí Minh<br />
    quận Gò Vấp, 12 Nguyễn Văn Bảo, phường 4<br />
    <abbr title="Phone">Phone:</abbr>
    0968605655
</address>

<address>
    <strong>Hỗ trợ:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Liên hệ phản ánh:</strong> <a href="mailto:Inbox@example.com">Inbox@example.com</a>
</address>