
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<style>
    #menuStaffDashboard {
        color: white;
        background-color: dodgerblue;
    }
</style>

<h2>StaffDashBoard</h2>

