<li class="nav-item">
    @Html.ActionLink("Báo cáo công việc", "Index", "QuanLyBaoCaoCongViec", null, new { @class = "nav-link", @id = "menuQuanLyBaoCaoCongViec" })
</li>
<li class="nav-item">
    @Html.ActionLink("Phí hoa hồng", "Index", "QuanLyPhiHoaHong", null, new { @class = "nav-link", @id = "menuQuanLyPhiHoaHong" })
</li>
