<li class="nav-item">
    @* danh sách đơn vị dự án được phân công, lọc theo loại dự án + tỉnh thành phố + dự án, hiển thị trạng thái hoàn thành hay chưa *@
    @* chọn item trong danh sách để mở màn hình báo cáo hoàn thành *@
    @Html.ActionLink("Báo cáo công việc", "Index", "QuanLyBaoCaoCongViec", null, new { @class = "nav-link", @id = "menuQuanLyBaoCaoCongViec" })
</li>
<li class="nav-item">
    @* Danh sách phí hoa hồng đã được tính *@
    @Html.ActionLink("Phí hoa hồng", "Index", "QuanLyPhiHoaHong", null, new { @class = "nav-link", @id = "menuQuanLyPhiHoaHong" })
</li>
