@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<a href="javascript:history.go(-1)">Back</a>

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

