
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<style>
    #menuDashBoard {
        color: white;
        background-color: dodgerblue;
    }
</style>

<h2>Index</h2>